//公共变量
$pageImgPath:"../assets/img/";
$fontPath:"../fonts/";

$bgColor: #f2f2f2;
$colorAfter: #efeef4;

$colorWhite: #fff;
$colorBlueMain: #43a9f1;
$colorBlue: #5e87c1;
$colorBlue: #5e87c1;
$colorRed: #e84342;
$colorRedBtn: #E12121;
$colorGreen: #0a9031;
$colorYellow: #f9af47;
$colorBrown: #8E560D;
$colorRedTrans: linear-gradient(134deg, #A60B0B 0%, #D51F1F 100%);
$colorBrownTrans: linear-gradient(219deg, #F7EEE4 14%, #EBD8C5 94%);

$color0: #000;
$color2: #222;
$color3: #333;
$color6: #666;
$colorF6: #f6f6f6;
$color8: #888;
$color9: #999;
$colorB: #bbb;
$colorBa: #bababa;
$color15: #151515;
$colorC: #ccc;

$colorD8: #D8D8D8;
$colorF1: #F1F1F1;
$colorF2: #F2F2F2;
$colorF3: #F3F3F3;