.page-content {
  background: $bgColor;
  color: $colorRed;

  h1 {
    position: relative;
    @include hairline(bottom, $colorRed);
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: $colorGreen;
  }
}