.page {
  background: $bgColor;
  color: $colorWhite;
}

.header {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorRed;
}
